*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Base de la página*/
.claro{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 300ms ease-in-out;
}

.claro .header{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    cursor: default;
    font-family: monospace;
    text-align: center;
    transition: 300ms ease-in-out;
}

.claro .dato{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3vw;
    margin: 2vw;
    border-radius: 20px;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 300ms ease-in-out;
}

.claro .bx{
    position: fixed;
    bottom: 0;
    aspect-ratio: 1/1;
    font-size: 3rem;
    left: 0;
    transition: opacity 300ms ease-in-out;
}

.claro .bx-moon, .bx-sun{
    opacity: 1;
}
/*Base de la página*/

/*Modo claro*/
.claro:not(.oscuro){
    background-color: rgb(238, 238, 238);
}

.claro:not(.oscuro) .header{
    background-color: #265d79;
    color: #f6dc7d;
}

.claro:not(.oscuro) .dato{
    background-color: #3ec2b2;
    color: #1d3a48;
}

.claro:not(.oscuro) .dato:hover{
    background-color: #f6dc7d;
    color: #c3742a;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.292);
}

.claro:not(.oscuro) .bx-moon{
    opacity: 0;
    pointer-events: none;
}

.claro:not(.oscuro) .bx-sun{
    color: #1d3a48;
}

.claro:not(.oscuro) .bx-sun:hover{
    color: #f6dc7d;
}
/*Modo claro*/

/*Modo oscuro*/
.claro.oscuro{
    background: #236b5b;
    background: linear-gradient(358deg, rgba(35, 107, 91, 1) 0%, rgba(24, 47, 82, 1) 100%);
}

.claro.oscuro .header{
    background-color: #152831;
    color: #3ec2b2;
}

.claro.oscuro .dato{
    background-color: #edd375;
    color: #391258;
}

.claro.oscuro .dato:hover{
    background-color: #391258;
    color: #edd375;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
}

.claro.oscuro .bx-sun{
    opacity: 0;
    pointer-events: none;
}

.claro.oscuro .bx-moon{
    color: #f6dc7d;
}

.claro.oscuro .bx-moon:hover{
    color: #1d3a48;
}
/*Modo oscuro*/